@use '../global/setting/font-family' as font;
@use '../global/mixin/function' as function;
@use '../global/mixin/breakpoint' as bp;


.footer {
  &__policy {
    height: 30px;
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    text-decoration-line: underline;
    @media screen and (max-width : bp.$pc) {
      display: none;
    }
  }
  &__sp__policy {
    display: none;
    @media screen and (max-width : bp.$pc) {
      display: block;
      height: 50px;
      margin-top: 20px;
      text-align: center;
      font-size: 15px;
      font-weight: 300;
      text-decoration-line: underline;
    }
  }
  .copy-right {
    height: 50px;
    font-size: 12px;
    text-align: center;
  }
}
